#kaocha/v1
 {:reporter [kaocha.report/documentation]
  :plugins [:kaocha.plugin/profiling]
  :tests [{:id :unit
           :ns-patterns [".*-unit-test"]
           :test-paths ["test" "src"]}
          {:id :resolver
           :ns-patterns [".resolver-test"]
           :test-paths ["test" "src"]}
          {:id :e2e
           :ns-patterns [".*-e2e-test"]
           :test-paths ["test" "src"]}]}
